html {
    background:  #2c3e50; 
}

.blue-backdrop{
    background-color: #2c3e50; 
}

.btn-info {
    background: #2980b9;
    border: 1px solid #2980b9;
}

.btn-info:hover {
    background: #2980b9;
    border: 1px solid #2980b9;
}

.text-primary {
    color: #3498db;
}

.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
    background-image:linear-gradient(#2980b9, #2980b9),linear-gradient(rgba(120,130,140,0.13), rgba(120,130,140,0.13))
}

.has-error {
    color: #a94442;
}

.help-block {
    font-size: 12px;
}

.footer-full-width {
    left: 0px;
    position: relative;
    color: #fff;
    background-color: #2c3e50;
}

#wrapper {
    background-color: #edf1f5;
}